body {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

.board-container {
  border-radius: 10px;
  background-color: rgb(49, 47, 47);
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  margin: auto;
}

td {
  padding: 8px;
  font-size: 14px;
}
.cell {
  background-color: gray;
  border: 2px solid white;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.levelGame {
  font-weight: bold;
}

.board {
  margin: auto;
}

.level-list {
  display: flex;
}

div {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  transition: font-weight 1s ease-out;
}

div:hover,
.cell:hover {
  background-color: rgba(23, 236, 112, 0.1);
}

.shown {
  background-color: lightgray;
  color: black;
  font-weight: bold;
}

.bomb {
  background-color: red;
}

.level-selected {
  font-size: 20px;
  font-weight: bold;
}

.hide {
  display: none;
}
.info {
  background-color: gray;

  height: 3em;
  width: 200px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: font-weight 1s ease-out;
}
.manual {
  background-color: rgb(12, 158, 243);
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}

.smile {
  font-size: 50px;
}
