body {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

.board-container {
  border-radius: 10px;
  background-color: rgb(49, 47, 47);
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

table {
  width: 100%;
  margin: auto;
}

td {
  padding: 8px;
  font-size: 14px;
}
.cell {
  border: 2px solid white;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.levelGame {
  font-weight: bold;
}

.board {
  margin: auto;
}

.level-list {
  display: flex;
}

div {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  transition: font-weight 1s ease-out;
}

div:hover,
.cell:hover {
  background-color: rgba(23, 236, 112, 0.1);
}
